<li class="separator acl-write"></li>
<li id="fullscreen" class="acl-write">
  <a class="ep_fullscreen " title="Fullscreen">                         
    <button data-key="fullscreen" class="buttonicon buttonicon-fullscreen"></button>
  </a>
</li>


<style>

   .ep_fullscreen > .buttonicon {
    top:2px!important;
  }
	
</style>
